<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Nom Prénom</span>
    {{ form_widget(form.salarie.salusNomPrenom, {'attr': {'class': 'form-control'}}) }}
</div>
<br>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Date d'entrée dans l'entreprise</span>
    {{ form_widget(form.salarie.saldtDebut, {'attr': {'class': 'form-control'}}) }}
</div>
<br>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Intitulé métier</span>
    {{ form_widget(form.salarie.sallbMetier, {'attr': {'class': 'form-control'}}) }}
</div>
<br>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Niveau</span>
    {{ form_widget(form.salarie.sallbNiveau, {'attr': {'class': 'form-control'}}) }}
</div>
<br>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Coefficient</span>
    {{ form_widget(form.salarie.sallbCoef, {'attr': {'class': 'form-control'}}) }}
</div>
<br>   